@page "/convert"

@using AzureAppConfigurationConverter.Data
@inject IJSRuntime jsRunTime
@inject IFormatConverter formatConverter

<div class="row">

    <h3 class="col-12 text-center">Please copy and paster your appsetting/local json file</h3>
    <textarea class="col-12" cols="15" rows="10" placeholder="Enter json" @bind="inputText"></textarea>
    <button class="offset-4 col-4 mt-2 mb-2" @onclick="ChangeValues">Change values</button>

    <textarea id="outputText" class="col-12" cols="15" rows="10" @bind="outputText" style="display:@display"></textarea>
</div>

@functions {

    private string inputText { get; set; } = "";
    private string outputText { get; set; } = "";
    private string display { get; set; } = "none";
    private string previousInputText { get; set; } = "";

    public void ChangeValues()
    {
        if (!string.IsNullOrEmpty(inputText) && previousInputText != inputText)
        {
            previousInputText = inputText;
            outputText = formatConverter.FormatConverter(inputText, "");

            display = "block";

            /// invoke js function
            //jsRunTime.InvokeAsync<bool>("Prettyfy");
        }
    }
}
